.jumbotron {
  background-color: transparent !important;
  color: white;
  max-width: 600px;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.jumbotron > blockquote > .btn {
  width: 200px !important;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 95%;
}
.spinner-grow {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  width: 300px;
  height: 300px;
  margin: auto;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
