.rickContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.rickContainer > .btn {
  width: 200px;
  margin: 10px;
  position: absolute;
  right: 52px;
  top: 200px;
  z-index: 9999999999999999;
}
.rickContainer > .btn2 {
  width: 200px;
  margin: 10px;
  position: absolute;
  left: 52px;
  top: 200px;
  z-index: 9999999999999999;
}
.rick-container-hijo {
  width: 90%;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-flow: wrap;
}
