.container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  width: 100% !important;
  padding: 5px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.container-son-one {
  width: 70%;
  height: 200px;

  margin: 10px;
}
.container-son-two {
  width: 30%;
  height: 200px;

  margin: 10px;
}
.breadcrumb {
  background-color: #007bff !important;
}
